.hero-container {
  position: relative;
  overflow: hidden;
  padding-top: 96px;
  min-height: 100vh;
  background: url("./assets/contour.svg") no-repeat center / cover,
    linear-gradient(180deg, #475451 50%, #f1ede5 100%);
}

.page-wrapper {
  position: relative;
  z-index: 0;
  &:before,
  :after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &:before {
    background-color: white;
    // transform: scaleX(1) scaleY(1.4);
    background: url("./assets/contour.svg") no-repeat center -200px,
      linear-gradient(180deg, rgba(71, 84, 81, 0.8) 45%, #f1ede5 100%) no-repeat,
      #f1ede5;
    background-size: 180%;
    background-position: top;
    @media (min-width: 768px) {
      background-size: 100% 1000px;
      background-position: top -200px center;
    }
  }
}

.footer {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // z-index: -1;
  background: #043042;
}

// .footer-space {
//   padding-bottom: 342px;
//   z-index: -10;
// }
